{% extends "base/threecol.html" %}

{% block add_css %}
    <link rel="stylesheet" type="text/css" href="/media/pollster/jquery/css/smoothness/jquery-ui-1.8.14.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/media/pollster/css/survey.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/media/pollster/css/skin.css" media="all" />
{% endblock %}

{% block add_js %}
    <script type="text/javascript" src="/media/pollster/jquery/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/media/pollster/jquery/js/jquery-ui-1.8.14.min.js"></script>
    <script type="text/javascript" src="/media/pollster/jquery/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/media/pollster/jquery/js/jquery.form.js"></script>
    <script type="text/javascript" src="/media/pollster/jquery/js/jquery.cookie.js"></script>
    {% if locale_code %}
    <script type="text/javascript" src="/media/pollster/jquery/js/i18n/jquery.ui.datepicker-{{ language }}.js"></script>
    <script type="text/javascript" src="/media/pollster/datejs/js/date-{{ locale_code }}.js"></script>
    {% else %}
    <script type="text/javascript" src="/media/pollster/datejs/js/date.js"></script>
    {% endif %}

    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/csrf.js"></script>
    <script type="text/javascript">jQuery().cmsPatchCSRF()</script>

    <script type="text/javascript" src="/media/pollster/wok/js/wok.jquery.js"></script>
    <script type="text/javascript" src="/media/pollster/wok/js/wok.properties.js"></script>
    <script type="text/javascript" src="{% url pollster_urls %}"></script>

    {% block extrahead %}{% endblock %}
{% endblock %}
