<div class="property-groups">
    <div class="tool-group">
        <div class="tool">
            <input type="hidden" name="survey-id" value="{{ survey.id|default:'' }}" />
            <label>Survey</label>
            <input type="text" name="survey-title" value="{{ survey.title|default:'' }}" />
        </div>
        <div class="tool">
            <label>Shortname</label>
            <button type="button" class="action-save">Save</button>
            <input type="text" class="short" name="survey-shortname" value="{{ survey.shortname|default:'' }}" />
        </div>
        <input type="hidden" name="survey-version" value="{{ survey.version|default:'' }}" />
        <!--div class="tool">
            <label>Version</label>
            <input type="text" class="short" name="survey-version" value="{{ survey.version|default:'' }}" />
        </div-->
        <hr/>
        <div class="tool">
            <label>New Question</label>
            <button type="button" class="action-create-question">Create</button>
            <select class="short" name="tool_question_type">
                <option value="text">Open Answer</option>
                <option value="single-choice">Single Choice</option>
                <option value="multiple-choice">Multiple Choice</option>
                <option value="matrix-select">Matrix Select</option>
                <option value="matrix-entry">Matrix Entries</option>
            </select>
        </div>
    </div>
    <div class="property-group builtin-question">
        <h2>Question
            <button type="button" class="action-copy">Copy</button>
            <button type="button" class="action-delete">Delete</button>
        </h2>
        <div class="property">
            <label title="DB column names in the results table for the current question will be based on this value">Data Name</label>
            <input type="text" name="field_question_data_name" title="only letters, numbers and underscores allowed"/>
        </div>
        <div class="property">
            <label title="User input will be checked to match the specified type">Data Type</label>
            <select name="field_question_data_type">
                {% for question_data_type in question_data_types %}
                {% if not question_data_type.is_internal %}
                <option value="{{ question_data_type.id }}">{{ question_data_type.title }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="property">
            <label title="The data type for options with open answers">Open Option Type</label>
            <select name="field_question_open_option_data_type">
                <option value="">None</option>
                {% for question_data_type in question_data_types %}
                {% if not question_data_type.is_internal %}
                <option value="{{ question_data_type.id }}">{{ question_data_type.title }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="property" style="display:none">
            <label title="How the input controls will be show to the user">Visual</label>
            <select name="field_question_visual">
                <option value="entry">Text Entry</option>
                <option value="radio">Radio Buttons</option>
                <option value="check">Check Buttons</option>
                <option value="dropdown">Drop Down Box</option>
            </select>
        </div>
        <div class="property">
            <label title="The form will show an error if the current question is not filled">Mandatory</label>
            <select name="field_question_is_mandatory">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
        <div class="property">
            <label>Start</label>
            <select name="field_question_starts_hidden">
                <option value="false">Visible</option>
                <option value="true">Hidden</option>
            </select>
        </div>
        <div class="property">
            <label>Title</label>
            <input type="text" name="field_question_title"/>
        </div>
        <div class="property clearfix">
            <label>Text</label>
            <textarea name="field_question_text"></textarea>
        </div>
        <div class="property">
            <label>Tags</label>
            <input type="text" name="field_question_tags" title="comma separated list of tags"/>
        </div>
        <div class="property">
            <label>Regular Expression</label>
            <input type="text" name="field_question_regex"/>
        </div>
        <div class="property clearfix">
            <label>Error Message</label>
            <textarea name="field_question_error_message"></textarea>
        </div>
        <hr/>
        <div class="tool">
            <label>Add choice: </label>
            <button type="button" class="action-add-choice">Add</button>
            <select class="short" name="tool_choice_type">
                <option value="">Simple Choice</option>
            </select>
        </div>
        <div class="tool">
            <label>Add rule: </label>
            <button type="button" class="action-add-rule">Add</button>
            <select class="short" name="tool_rule_type">
                <option value="rule">Rule</option>
                <option value="derived-value">Derived value</option>
            </select>
        </div>
        <div class="tool">
            <label>Add column: </label>
            <button type="button" class="action-add-column">Add</button>
        </div>
        <div class="tool">
            <label>Add row: </label>
            <button type="button" class="action-add-row">Add</button>
        </div>
    </div>
    <div class="property-group builtin-column">
        <h2>Column <button type="button" class="action-delete">Delete</button></h2>
        <div class="property">
            <label>Title</label>
            <input type="text" name="field_column_title"/>
        </div>
    </div>
    <div class="property-group builtin-row">
        <h2>Row <button type="button" class="action-delete">Delete</button></h2>
        <div class="property">
            <label>Title</label>
            <input type="text" name="field_row_title"/>
        </div>
    </div>
    <div class="property-group builtin-choice">
        <h2>Choice <button type="button" class="action-delete">Delete</button></h2>
        <div class="property">
            <label>Text</label>
            <input type="text" name="field_choice_text"/>
        </div>
        <div class="property">
            <label>Description</label>
            <textarea name="field_choice_description"></textarea>
        </div>
        <div class="property">
            <label>Value</label>
            <input type="text" name="field_choice_value" title="only letters, numbers and underscores allowed"/>
        </div>
        <div class="property">
            <label>Start</label>
            <select name="field_choice_starts_hidden">
                <option value="false">Visible</option>
                <option value="true">Hidden</option>
            </select>
        </div>
        <div class="property">
            <label>Open answer</label>
            <select name="field_choice_is_open">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
    </div>
    <div class="property-group builtin-derived-value">
        <h2>Derived Value <button type="button" class="action-delete">Delete</button></h2>
        <div class="property">
            <label>Type</label>
            <select name="field_derived_value_type">
                {% for virtual_option_type in virtual_option_types %}
                <option value="{{ virtual_option_type.id }}" data-linked-data-type="{{ virtual_option_type.question_data_type.id }}"
                        data-js-class="{{ virtual_option_type.js_class }}">{{ virtual_option_type.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="property">
            <label>Regular Expression</label>
            <input type="text" name="field_derived_value_regex"/>
        </div>
        <div class="property">
            <label>Inferior Limit</label>
            <input type="text" name="field_derived_value_inf"/>
        </div>
        <div class="property">
            <label>Superior Limit</label>
            <input type="text" name="field_derived_value_sup"/>
        </div>
    </div>
    <div class="property-group builtin-rule">
        <h2>Rule <button type="button" class="action-delete">Delete</button></h2>
        <div class="property">
            <label>Trigger Option</label>
            <select name="field_rule_subject_options" multiple="multiple" size="5"></select>
        </div>

        <div class="property">
            <label>Type</label>
            <select name="field_rule_type">
                {% for rule_type in rule_types %}
                <option value="{{ rule_type.id }}" data-js-class="{{ rule_type.js_class }}">{{ rule_type.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="property">
            <label>Sufficient</label>
            <select name="field_rule_is_sufficient">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="property">
            <label>Question</label>
            <select name="field_rule_object_question">
            </select>
        </div>
        <div class="property clearfix">
            <label>Options</label>
            <select name="field_rule_object_options" multiple="multiple" size="5"></select>
        </div>
    </div>
    <div class="wok-templates">
        <div class="sort-buttons">
            <button title="move up" class="up">▲</button>
            <button title="move down" class="down">▼</button>
        </div>
        <div class="template-question-text" data-visual="entry">
            <div class="question text">
                <div class="info"></div>
                <p class="data"><span class="data-name"></span><span class="title"></span></p>
                <input type="text" name="$$" />
                <p class="error-message"/>
                <ul class="derived-values"></ul>
            </div>
        </div>
        <div class="template-question-single-choice" data-visual="radio">
            <div class="question single-choice">
                <div class="info"></div>
                <p class="data"><span class="data-name"></span><span class="title"></span></p>
                <ul class="choices">
                    <li>
                        <div class="info"></div>
                        <input type="radio" value="" name="$$"/>
                        <label></label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="template-question-multiple-choice">
            <div class="question multiple-choice" data-visual="check">
                <div class="info"></div>
                <p class="data"><span class="data-name"></span><span class="title"></span></p>
                <ul class="choices">
                    <li>
                        <div class="info"></div>
                        <input type="checkbox" value="" name="$$"/>
                        <label></label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="template-question-matrix-select">
            <div class="question matrix-select" data-visual="select">
                <div class="info"></div>
                <p class="data"><span class="data-name"></span><span class="title"></span></p>
                <div>Columns</div>
                <ul class="columns">
                    <li><span class="column-title"/></li>
                </ul>
                <div>Rows</div>
                <ul class="rows">
                    <li><span class="row-title"/></li>
                </ul>
                <div>Options</div>
                <ul class="choices">
                    <li>
                        <div class="info"></div>
                        <input type="radio" value="" name="$$"/>
                        <label></label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="template-question-matrix-entry">
            <div class="question matrix-entry">
                <div class="info"></div>
                <p class="data"><span class="data-name"></span><span class="title"></span></p>
                <div>Columns</div>
                <ul class="columns">
                    <li><span class="column-title"/></li>
                </ul>
                <div>Rows</div>
                <ul class="rows">
                    <li><span class="row-title"/></li>
                </ul>
                <input type="text"/>
            </div>
        </div>
    </div>
</div>
