{% extends "pollster/base_run.html" %}

{% block title %}{{ survey.translated_title }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="/media/pollster/wok/js/wok.pollster.js"></script>
    <script type="text/javascript" src="/media/pollster/wok/js/wok.pollster.datatypes.js"></script>
    <script type="text/javascript" src="/media/pollster/wok/js/wok.pollster.rules.js"></script>
    <script type="text/javascript" src="/media/pollster/wok/js/wok.pollster.virtualoptions.js"></script>
    <script type="text/javascript">$(function() { wok.pollster.createPollsterRuntime(null, {}); })</script>
{% endblock %}

{% block col1 %}
<div id="wok-main-panel-content">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% include "pollster/questions_run.html" %}
</div>
{% endblock %}
