{% extends "pollster/base_admin.html" %}

{% block content %}
<div id="wok-main-panel-content">
    <div id="survey-list">
        <h1>Surveys</h1>
        <ul>
            {% for survey in surveys %}
            {% if survey.is_draft %}
            <li class="status-{{survey.status}}">
                {% if survey.title %}
                {{ survey.title }}
                {% else %}
                No Name
                {% endif %}
                (<a href="{% url pollster_survey_test survey.id %}">test</a>
                | <a href="{% url pollster_survey_edit survey.id %}">edit</a>
                | <a href="{% url pollster_survey_translation_list survey.id %}">translate</a>
                | <a href="{% url pollster_survey_chart_list survey.id %}">charts</a>
                | <a href="{% url pollster_survey_export_xml survey.id %}">export</a>
                | <form action="{% url pollster_survey_publish survey.id %}" method="POST">{% csrf_token %}<button class="link">publish</button></form>)
            </li>
            {% endif %}
            {% if survey.is_unpublished %}
            <li class="status-{{survey.status}}">
                {% if survey.title %}
                {{ survey.title }}
                {% else %}
                No Name
                {% endif %}
                (<a href="{% url pollster_survey_test survey.id %}">test</a>
                | <a href="{% url pollster_survey_edit survey.id %}">edit</a>
                | <a href="{% url pollster_survey_translation_list survey.id %}">translate</a>
                | <a href="{% url pollster_survey_chart_list survey.id %}">charts</a>
                | <a href="{% url pollster_survey_export_xml survey.id %}">export</a>
                | <form action="{% url pollster_survey_publish survey.id %}" method="POST">{% csrf_token %}<button class="link">re-publish</button></form>)
            </li>
            {% endif %}
            {% if survey.is_published %}
            <li class="status-{{survey.status}}">
                {{ survey.title }}
                (<a href="{% url pollster_survey_test survey.id %}">test</a>
                | <a href="{% url pollster_survey_translation_list survey.id %}">translate</a>
                | <a href="{% url pollster_survey_chart_list survey.id %}">charts</a>
                | <a href="{% url pollster_survey_export_xml survey.id %}">export</a>
                | <a href="{% url pollster_survey_results_csv survey.id %}">results</a>
                | <form action="{% url pollster_survey_unpublish survey.id %}" method="POST">{% csrf_token %}<button class="link">unpublish</button></form>)
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <ul>
            <li>
            <form action="{% url pollster_survey_import %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form_import.data }}
                <button>import survey</button>
            </form>
            </li>
            <li>
            <form action="{% url pollster_survey_add %}" method="GET">
                <button>new survey</button>
            </form>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
