{% extends "pollster/base_admin.html" %}

{% block title %}{{ survey.translated_title }} - EPIWork Survey Designer{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="/media/pollster/wok/js/wok.pollster.js"></script>
    <script type="text/javascript" src="/media/pollster/wok/js/wok.pollster.datatypes.js"></script>
    <script type="text/javascript" src="/media/pollster/wok/js/wok.pollster.rules.js"></script>
    <script type="text/javascript" src="/media/pollster/wok/js/wok.pollster.virtualoptions.js"></script>
    <script type="text/javascript">$(function() { wok.pollster.createPollsterRuntime(null, {}); })</script>
{% endblock %}

{% block navigation %}
    <li><a href="{% url pollster_survey_list %}">All Surveys</a></li>
    {% if survey.is_editable %}
    <li><a href="{% url pollster_survey_edit survey.id %}">Edit Survey</a></li>
    {% endif %}
    {% if language %}
    <li><a href="{% url pollster_survey_translation_edit survey.id language %}">Translate Survey</a></li>
    {% else %}
    <li><a href="{% url pollster_survey_translation_list survey.id %}">Translate Survey</a></li>
    {% endif %}
    <li><a href="{% url pollster_survey_chart_list survey.id %}">Charts</a></li>
{% endblock %}

{% block content %}
<div id="wok-main-panel-content">
    {% include "pollster/questions_run.html" %}
</div>
{% endblock %}
