{% extends "pollster/base_admin.html" %}

{% block navigation %}
    <li><a href="{% url pollster_survey_list %}">All Surveys</a></li>
    {% if survey.is_editable %}
    <li><a href="{% url pollster_survey_edit survey.id %}">Edit Survey</a></li>
    {% endif %}
    <li><a href="{% url pollster_survey_test survey.id %}">Test Survey</a></li>
{% endblock %}

{% block content %}
<div id="wok-main-panel-content">
    <div id="survey-translation-list">
        <h1>Translations for {{ survey }}</h1>
        <ul>
            {% for translation in survey.translationsurvey_set.all %}
            <li class="status-{{translation.status}}">
                [{{translation.status}}] {{ translation.language }}
                ( <a href="{% url pollster_survey_translation_edit survey.id translation.language %}">edit</a> )
            </li>
            {% endfor %}
            <li>
                <form action="{% url pollster_survey_translation_add survey.id %}" method="POST">
                    {% csrf_token %}
                    {{ form_add.as_p }}
                    <button class="link">create translation</button>
                </form>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
