{% extends "profile/base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/+media/survey/style.css"/>
<script type="text/javascript" src="/+media/jquery.js"></script>
<script type="text/javascript" src="/+media/jquery.form.js"></script>
<script type="text/javascript" src="/+media/survey/survey.js"></script>
{% endblock %}

{% block content %}
<div id="survey">

<h1>Edit Profile</h1>

<form method="post" id="survey">
    {% for field in form %}
    {% if field.errors %}
    <div class="question error" id="q_{{ field.name }}">
        <div class="errormsg">{{ field.errors }}</div>
    {% else %}
    <div class="question" id="q_{{ field.name }}">
    {% endif %}
        <div class="label">{{ field.label_tag }}</div>
        <div class="answer">
        {{ field }}
        </div>
    </div>
    {% endfor %}
    <div><input type="submit" value="Submit"/></div>
</form>

<script type="text/javascript">
{% autoescape off %}
{{ js }}
{% endautoescape %}
</script>

</div>
{% endblock %}
