<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>{{ site_name }} mail</title>
</head>
<body style="padding:0; margin:0; background:#595959">
	
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#595959">
	<tr>
		<td align="center" valign="top">
			<table width="581" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="17" bgcolor="#fdfdfd">
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										
										<tr>
											<td style="font-size:0; line-height:0; text-align:center;"><a href="{{ site_url }}" title="{{ site_name }}"><img src="{{ site_logo }}" alt="{{ site_name }}" /></a></td>
										</tr>
										<tr>
											<td style="color:#878787; font-size:11px; font-weight:bold; font-family:Arial; " height="30" align="left">{{ message.date.date }}</td>
										</tr>
										
										<tr>
											<td>
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td valign="top">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																
																<tr>
																	<td bgcolor="#e2e5e7">
																		<table width="100%" border="0" cellspacing="0" cellpadding="15">
																			
																			<tr>
																				<td style="font-family: Arial; font-size:13px; line-height:17px; text-align:left; color:#747474;">
																				  	<p>{{ inner }}</p>
																				</td>
																			</tr>
																			
																		</table>
																	</td>
																</tr>
																
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td>
												<img src="{{ MEDIA_URL }}/reminder/img/hr-big.gif" height="11" width="581" alt="" />
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td style="font-family: Arial; font-size:10px; line-height:12px; text-align:center; color:#999;">
															<br />{% blocktrans %}You have received this email because you are registered with {{ site_name }}. Your contribution helps us track the spread of flu. If you do not wish to receive this weekly reminder any longer, please <a href="{{ unsubscribe_url }}">unsubscribe</a> from our mailings.{% endblocktrans %}<br /><br />
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
							  </td>
							</tr>
							
						</table>
					</td>
				</tr>
				
			</table>
		</td>
	</tr>
</table>
	
</body>
</html>
