{% extends "base/twocol.html" %}

{% block col1 %}

{% if not upcoming %}

There appear to be no upcoming reminders. Please check you <a href="/admin/sites/site/1/">site settings</a> to make sure sending of reminders is turned on.

{% else %}
    <table><tbody>
    {% for upcoming_reminder in upcoming %}
        <tr>
            <td>{{ upcoming_reminder.date }}</td>
            <td>{{ upcoming_reminder.description }}</td>
            <td><a href="/reminder/manage/{{ upcoming_reminder.date.year }}/{{ upcoming_reminder.date.month }}/{{ upcoming_reminder.date.day }}/{{ upcoming_reminder.date.hour }}/{{ upcoming_reminder.date.minute }}/">View</a></td> 

    {% endfor %}
    </tbody></table>
{% endif %}

{% endblock col1 %}
