{% load i18n %}

<form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    {% if field.errors %}
    <div class="question error" id="q_{{ field.name }}">
        <div class="errormsg">{{ field.errors }}</div>
    {% else %}
    <div class="question" id="q_{{ field.name }}">
    {% endif %}
        <div class="label">{{ field.label_tag }}</div>
        <div class="answer">
        {{ field }} 
        </div>
        {% if field.help_text %}
        <p class="help">{{ field.help_text }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <div><input type="submit" value="{% trans "Submit" %}"/>
    {% for field in form.hidden_fields %}
         {{ field }}
    {% endfor %}
    </div>
</form>

<script type="text/javascript">
$(document).ready(function() {
    var d = SurveyDefinitionGlue;
    var survey = new Survey($('form'), {{ js }});
    survey.init();
});
</script>

