{% extends "survey/base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/+media/css/ui-lightness/jquery-ui-1.8.5.custom.css"/>
<link rel="stylesheet" type="text/css" href="/+media/survey/style.css"/>
<script type="text/javascript" src="/+media/jquery.js"></script>
<script type="text/javascript" src="/+media/jquery.form.js"></script>
<script type="text/javascript" src="/+media/js/jquery-ui-1.8.5.custom.min.js"></script>
<script type="text/javascript" src="/+media/survey/survey.js"></script>
{% endblock %}

{% block col1 %}
<div id="survey">

<h1>{% trans "Survey Form" %}</h1>

{% include "survey/form.html" %}

</div>
{% endblock %}
