{% extends "survey/base.html" %}
{% load i18n %}

{% block col1 %}

<p>{% trans "Thanks for taking the time to fill out this survey." %}</p>

{% if persons|length > 1 %}
<p>
{% trans "Here is a summary of the information you entered for you and the members of your group or family:" %}
</p>

<table class="imagetable">
<tr>
	<th>{% trans "Group members" %}</th><th>{% trans "Health status" %}</th><th colspan="4">{% trans "Manage " %}</th>
</tr>
{% for person in persons %}
<tr><td>{{ person.name }}</td>
	<td><b>{{ person.diag }}</b></td>
        <td><a href="{{ person.get_edit_url }}">{% trans "Change name" %}</a></td>
        <td><a href="{{ person.get_profile_url }}">{% trans "Change profile" %}</a></td>
        <td><a href="{{ person.get_survey_url }}">{% trans "Enter symptoms" %}</a></td>
        <td><a href="{{ person.get_remove_url }}">{% trans "Remove" %}</a></td>
</tr>

{% endfor %}
</table>
{% endif %}

<br/>

<ul class="diag">
{% for person in persons %}
{% if person.health_history %}
<li class="diag-person">
    <h5 class="diag-name">{{ person.name }}</h5>
    <ul>
    {% for item in person.health_history %}
    <li class="diag-item diag-{{ item.status|default:'UNKNOWN' }}">
        <img class="diag-icon" src="{{ MEDIA_URL }}/survey/img/diag-{{ item.status }}.png"
             alt="{{ item.diag }}:" title="{{ item.diag }}"/>
        <span title="{{ item.timestamp }}" class="diag-timestamp">
            {{ item.timestamp|date:'SHORT_DATE_FORMAT' }}
        </span>
    </li>
    {% endfor %}
    </ul>
</li>
{% endif %}
{% endfor %}
</ul>

{% endblock %}

