-e hg+https://hg@bitbucket.org/ubernostrum/django-registration#egg=django-registration
django-cms==2.1.4
-e hg+https://bitbucket.org/jespern/django-piston@adeef486579b#egg=django-piston
south
django-sekizai
django-appmedia
django-contact-form
django-haystack
xapian-haystack
django==1.3
PIL
wsgiref==0.1.2
-e git://github.com/vanschelven/epidb-client-python.git#egg=epidb-client
simplejson
django-nani
mock
