{% extends "base/blankbase.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Login" %}{% endblock %}


{% block add_body %}  onload="document.getElementsByTagName('input') [0].focus();"{% endblock add_body %}

{% block content %}<h1>{% trans "Login" %}</h1>
                <p>{% trans "Enter your username and password to log in." %} <a href="{% url django.contrib.auth.views.password_reset %}">{% trans "Forgot your password?" %}</a></p>
                {% spaceless %}<form method="post" action="?next=/" id="login">{% csrf_token %}{{ form.as_p }}<p><input type="submit" id="boxsubmit" value="{% trans "Log in" %}" /></p></form>{% endspaceless %}{% endblock content %}
