#news > h1 {
    margin: 0px;
}
#news > div.info p {
    margin: 0 0 20px 0;
    color: #BC3124;
}
#news div.news.index {
    margin-top: 20px;
}

#news div.news.index > h2 {
    margin: 0px;
}
#news div.news.index > div.info p {
    margin: 0px;
    color: #BC3124;
    line-height: 15px;
}

#news div.news.index div.content {
	line-height: 15px;
}

#news > ul.list {
    padding-left: 20px;
}

