{% extends "base/sitebase.html" %}
{% load cms_tags count %}

{% block add_js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}base/js/map.js"></script>
{% endblock add_js %}

{% block masthead %}
<p class="_toggle influenzanet _expanded"><noscript>Influenzanet is a system to monitor the activity of influenza-like-illness (ILI) with the aid of volunteers via the internet<br /></noscript>Show/Hide Influenzanet map</p>
			<div class="_toggle influenzamapcontent _show">

				<div class="europe_map">
					<img src="{{ MEDIA_URL }}base/img/influbar/map/europe_map.jpg" alt="Currently {% member_count "total" %} volunteers from 10 participating countries are contributing to Influenzanet:" width="1100" height="900" />
					<div class="point nl" id="p-476-524" title="Nederland: De Grote GriepMeting">
						<a href="http://www.degrotegriepmeting.nl/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/map/participant_nl.gif" alt="http://www.degrotegriepmeting.nl/" title="http://www.degrotegriepmeting.nl/" /></a><br />Netherlands<br />{% member_count "nl" %} Participants<br /><a href="http://www.degrotegriepmeting.nl/" rel="external">Visit partnersite</a>
					</div>
					<div class="point be" id="p-450-560" title="België: De Grote GriepMeting">
						<a href="http://www.degrotegriepmeting.be/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/map/participant_be.gif" alt="http://www.degrotegriepmeting.be/" title="http://www.degrotegriepmeting.be/" /></a><br />Belgium<br />{% member_count "be" %} Participants<br /><a href="http://www.degrotegriepmeting.be/" rel="external">Visit partnersite</a>
					</div> 
					<div class="point de" id="p-540-570" title="Deutschland: Aktiv gegen Grippe">
						<a href="http://www.aktivgegengrippe.de/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/map/participant_de.gif" alt="http://preview.aktivgegengrippe.de/" title="http://preview.aktivgegengrippe.de/" /></a><br />Germany<br />{% member_count "de" %} Participants<br /><a href="http://www.aktivgegengrippe.de/" rel="external">Visit partnersite</a>
					</div>  
					<div class="point at" id="p-600-646" title="Österreich: Aktiv gegen Grippe">
						<a href="http://www.aktivgegengrippe.at/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/map/participant_at.gif" alt="http://preview.aktivgegengrippe.at/" title="http://preview.aktivgegengrippe.at/" /></a><br />Austria<br />{% member_count "at" %} Participants<br /><a href="http://www.aktivgegengrippe.at/" rel="external">Visit partnersite</a>
					</div>
					<div class="point ch" id="p-502-654" title="Schweiz: Aktiv gegen Grippe">
						<a href="http://www.aktivgegengrippe.ch/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/map/participant_ch.gif" alt="http://preview.aktivgegengrippe.ch/" title="http://preview.aktivgegengrippe.ch/" /></a><br />Switzerland<br />{% member_count "ch" %} Participants<br /><a href="http://www.aktivgegengrippe.ch/" rel="external">Visit partnersite</a>
					</div>
					<div class="point se" id="p-590-452" title="Sverige: Influensakoll">
						<a href="http://www.influensakoll.se/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/map/participant_se.gif" alt="http://www.influensakoll.se/" title="http://www.influensakoll.se/" /></a><br />Sweden<br />{% member_count "se" %} Participants<br /><a href="http://www.influensakoll.se/" rel="external">Visit partnersite</a>
					</div>
					<div class="point uk" id="p-376-510" title="United Kingdom: Flusurvey">
						<a href="http://www.flusurvey.org.uk/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/map/participant_uk.gif" alt="http://www.flusurvey.org.uk/" title="http://www.flusurvey.org.uk/" /></a><br />United Kingdom<br />{% member_count "uk" %} Participants<br /><a href="http://www.flusurvey.org.uk/" rel="external">Visit partnersite</a>						
					</div>
					<div class="point fr" id="p-414-664" title="France: Epipop">
						<a href="http://www.epipop.fr/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/map/participant_fr.gif" alt="http://www.epipop.fr/" title="http://www.epipop.fr/" /></a><br />In preparation
					</div>
					<div class="point pt" id="p-208-744" title="Portugal: Gripenet">
						<a href="http://www.gripenet.pt/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/map/participant_pt.gif" alt="http://www.gripenet.pt/" title="http://www.gripenet.pt/" /></a><br />Portugal<br />{% member_count "pt" %} Participants<br /><a href="http://www.gripenet.pt/" rel="external">Visit partnersite</a>
					</div>
					<div class="point it" id="p-540-720" title="Italy: Influweb">
						<a href="http://www.influweb.it/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/map/participant_it.gif" alt="http://www.influweb.it/" title="http://www.influweb.it/" /></a><br />Italy<br />{% member_count "it" %} Participants<br /><a href="http://www.influweb.it/" rel="external">Visit partnersite</a>						
					</div>
					
				</div>
				
				<div id="mapbuttons">
					<div id="buttonbar">
					<ul class="map_buttons">
						<li><a href="#top" rel="p-600-646">Austria</a></li>
						<li><a href="#top" rel="p-450-560">Belgium</a></li>
						<li><a href="#top" rel="p-414-664">France</a></li>
						<li><a href="#top" rel="p-540-570">Germany</a></li>
						<li><a href="#top" rel="p-540-720">Italy</a></li>
						<li><a href="#top" rel="p-476-524">Netherlands</a></li>
						<li><a href="#top" rel="p-208-744">Portugal</a></li>
						<li><a href="#top" rel="p-590-452">Sweden</a></li>
						<li><a href="#top" rel="p-502-654">Switzerland</a></li>
						<li><a href="#top" rel="p-376-510">United Kingdom</a></li>
					</ul>
					<a href="#top" class="jsclose right" title="Hide Influenzanet map">Hide map</a>
					</div>
				</div>
								
			</div>
{% endblock masthead %}

{% block content %}
        <div id="colmask">
            <div id="colmid">
                <div id="colright"> 
                    <div id="col1wrap"> 
                         <div id="col1pad"> 
                             <div id="col1"> 
                                 {% block col1 %}{% placeholder "Main content" %}{% endblock col1 %}
                             </div> 
                         </div> 
                    </div> 
                    <div id="col2"> 
                        {% block col2 %}{% placeholder "Left bar" %}{% endblock col2 %}
                    </div> 
                    <div id="col3"> 
                        {% block col3 %}{% placeholder "Right bar" %}{% endblock col3 %}
                    </div> 
                </div> 
            </div> 
        </div>{% endblock content %}
