{% load menu_tags %}
{% if children %}
<ul class="CUSTOMIZE-CLASS-MAIN-MENU-HERE">
    {% for child in children %}
    <li class="{% if child.selected %}selected{% endif %}{% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}">
        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}
        {% if child.selected %}SSS{% endif %}
        {% if child.children %}CCC{% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% for child in children %}
    {% if child.selected %}
        {% include "base/submenu.html" %}
    {% endif %}
    {% for subchild in child.children %}
        {% if subchild.selected %}
            {% include "base/submenu.html" %}
        {% endif %}
    {% endfor %}
{% endfor %}
