{% load cms_tags menu_tags partnersites i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=0.75, user-scalable=yes" />
		<meta name="robots" content="index, follow" />
        <link rel="shortcut icon" href="{{ MEDIA_URL }}base/img/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ MEDIA_URL }}base/img/apple-touch-icon.png" />      

		<title>{% block title %}{% site_name %}: {% page_attribute page_title %}{% endblock title %}</title>
		<meta name="description" content="{% page_attribute meta_description %}"/>
        <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
        {% block add_head %}{% endblock add_head %}

        <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}base/css/default.css" />
        <link type="text/css" rel="stylesheet" media="all" href="/colors.css" />
        {% block add_css %}{% endblock add_css %}
		<script type="text/javascript" src="{{ MEDIA_URL }}base/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}base/js/influenzanet.js"></script>
        {% block add_js %}{% endblock add_js %}
	</head>

	<body{% spaceless %}{% block add_body %}{% endblock add_body %}{% endspaceless %}>
	<div id="page">
		
		<div id="influenzabar">
			{% block masthead %}
				<p class="_toggle influenzanet">Influenzanet is a system to monitor the activity of influenza-like-illness (ILI) with the aid of volunteers via the internet</p>
				<div class="_toggle influenzabarcontent" id="top">
					<div id="epiwork">
						<img src="{{ MEDIA_URL }}base/img/influbar/epiwork.gif" alt="Epiwork Logo" title="Epiwork" /><br />
						Developing the framework for an epidemic forecast infrastructure.<br />
						<a href="http://www.epiwork.eu/" title="Epiwork website">http://www.epiwork.eu/</a><br /><br />
						The Seventh Framework Programme (FP7) bundles all research-related EU initiatives.<br /><br />
						<img src="{{ MEDIA_URL }}base/img/influbar/7thframework.gif" alt="7th Framework Logo" title="7th Framework" /></div>
				    <div id="participants">
						Participating countries and volunteers:<br /><br />
						<a href="http://www.degrotegriepmeting.nl/"><img src="{{ MEDIA_URL }}base/img/influbar/nl.png" title="The Netherlands" alt="The Netherlands" /></a> 17952<br />
						<a href="http://www.degrotegriepmeting.be/"><img src="{{ MEDIA_URL }}base/img/influbar/be.png" title="Belgium" alt="Belgium" /></a> 4717<br />
						<a href="http://www.gripenet.pt/"><img src="{{ MEDIA_URL }}base/img/influbar/pt.png" title="Portugal" alt="Portugal" /></a> 2538<br />
						<a href="http://www.influweb.it/"><img src="{{ MEDIA_URL }}base/img/influbar/it.png" title="Italy" alt="Italy" /></a> 3423<br />
						<a href="http://www.flusurvey.org.uk/"><img src="{{ MEDIA_URL }}base/img/influbar/gb.png" title="Great Britain" alt="Great Britain" /></a> 703<br />
					</div>
				    <div id="influenzatext">
						InfluenzaNet is a system to monitor the activity of influenza-like-illness (ILI) with the aid of volunteers via the internet. It has been operational in The Netherlands and Belgium (since 2003), Portugal (since 2005) and Italy (since 2008), and the current objective is to implement InfluenzaNet in more European countries.<br /><br />
						In contrast with the traditional system of sentinel networks of mainly primary care physicians coordinated by the European Influenza Surveillance Scheme (EISS), InfluenzaNet obtains its data directly from the population. This creates a fast and flexible monitoring system whose uniformity allows for direct comparison of ILI rates between countries.<br /><br />
						Any resident of a country where InfluenzaNet is implemented can participate by completing an online application form, which contains various medical, geographic and behavioural questions. Participants are reminded weekly to report any symptoms they have experienced since their last visit. The incidence of ILI is determined on the basis of a uniform case definition. <a href="#top" class="jsclose" title="Close">Hide this information</a>
				    </div>
				</div>
			{% endblock masthead %}
		</div>
		
		<div id="header">
            {% if_site_logo %}
            <div id="headerlogo"><a href="/" title="{% site_name %}"><img src="{% site_logo %}" alt="{% site_name %}" /></a></div> 
            <div id="account"> 
                <ul class="anonymous"> 
                    <li><a href="/accounts/login/" class="fancybox1">{% trans "Log in" %}</a></li> 
                    <li><a href="/accounts/register/" class="fancybox2">{% trans "New account" %}</a></li> 
                </ul> 
                <p><a href="/accounts/password/reset/">{% trans "Forgot password?" %}</a></p> 
            </div> 
            {% endif_site_logo %}

			<div id="navigation">
				<div id="menubar">
					{% spaceless %}<ul>{% block menubar %}{% show_menu 0 1 %}{% endblock menubar %}</ul>{% endspaceless %}
				</div>
				<div id="searchbar">
                    <form method="get" action="/search/">
                        <p><input type="text" id="searchfield" name="q"/><input type="submit" id="searchsubmit" value="Search" /></p>
                    </form>
				</div>
			</div>			
		</div> 
		
		{% block content %}{% endblock content %}
		
		<div id="footer">{% block footercontent %}
			<div id="footercontent">
				<div id="footercol1"><img src="{{ MEDIA_URL }}base/img/main/influenzanetlogo.png" alt="Influenzanet logo" /><p>Influenzanet is a system to monitor the activity of influenza-like-illness (ILI) with the aid of volunteers via the internet with the aid of volunteers.<br />We have tried to ensure that all information we provide through this website is correct at the time we include it.</p></div>
				<div id="footercol2"><h2>Partners</h2>
						<a href="http://preview.aktivgegengrippe.de/" rel="external" title="Aktiv gegen Grippe Deutschland">Aktiv gegen Grippe Deutschland</a><br />
						<a href="http://preview.aktivgegengrippe.at/" rel="external" title="Aktiv gegen Grippe Österreich">Aktiv gegen Grippe Österreich</a><br />
						<a href="http://preview.aktivgegengrippe.ch/" rel="external" title="Aktiv gegen Grippe Schweiz">Aktiv gegen Grippe Schweiz</a><br />
						<a href="http://www.degrotegriepmeting.nl/" rel="external" title="De Grote Griepmeting Nederland">De Grote Griepmeting Nederland</a><br />
						<a href="http://www.degrotegriepmeting.be/" rel="external" title="De Grote Griepmeting België">De Grote Griepmeting België</a><br />
					</div>
					<div id="footercol3"><h2>&nbsp;</h2>
						<a href="http://www.flusurvey.org.uk/" rel="external" title="Flusurvey United Kingdom">Flusurvey United Kingdom</a><br />
						<a href="http://www.gripenet.pt/" rel="external" title="Gripenet Portugal">Gripenet Portugal</a><br />
						<a href="http://www.influensakoll.se/" rel="external" title="Influensakoll Sverige">Influensakoll Sverige</a><br />
						<a href="http://www.influweb.it/" rel="external" title="Influweb Italia">Influweb Italia</a><br />				
						<a href="#top" title="Mesure de la grippe France">Mesure de la grippe France</a><br />
				</div>
			</div>{% endblock footercontent %}
			<div id="footerclose">
                &copy; {% now "Y" %} {% site_name %} &nbsp;|&nbsp; <a href="{% url contact_form %}" title="Contact us">Contact</a>
			</div>
		</div>
	</div>
	</body>
</html>
