/* GENERIC STYLES */

body, html { height: 100%; }

/* LAYOUT */
h1 { color: #A22B22; }
#wok-body { width: 992px; overflow: auto; margin: 5px auto; background: white; border: 1px solid black; }
#wok-header { height: 35px; padding: 3px; background: url(im/header_background.jpg); position: relative; }
#wok-header .epiwork { position: absolute; right: 0; top: 0; }

#wok-navigation { background: url(im/navigation_background.jpg) repeat-x bottom; height: 42px; padding: 5px 10px; margin-top: 20px; position: relative; }
#wok-navigation ul { list-style: none; padding: 0; margin: 0; position: absolute; bottom: 2px; }
#wok-navigation li { padding: 0; margin: 0; display: inline-block; }
#wok-navigation li a { text-decoration: none; font-weight: bold; color: black; border: 1px solid #CCC; padding: 4px 8px; margin: 0; }
#wok-navigation li a:hover { color: #A03932; }

#wok-main-panel-content { padding: 10px; }

/* SURVEY */


/* Pollster overrides */

.question-wrapper { width: 640px; }
.survey-error-message, .question { width: 400px; }
.rules { width: 230px; }
