.question { border: 1px solid #CCC; -webkit-border-radius: 5px; padding: 5px; background: #fff; margin-bottom: 10px; }
.question ul.choices, .question ul.derived-values { list-style: none; margin-bottom: 10px; }
.question li { margin-left: 20px; }
.question input[type=text] { margin: 0 0 10px 20px; }
.question .title { font-weight: bold; margin-right: 5px; }
.question .number { font-weight: bold; margin-right: 3px; }
.question .info { display: none; }
.question .matrix th, .question .matrix td { vertical-align: middle; padding: 1px 3px; }
.question .matrix th { background: #EEE; border: 1px solid white; padding: 3px; }
.question .matrix th.empty { background: none; border: none; padding: 0; }
.question .matrix select { width: 100%; }

.rules, .derived-values { display: none; }

.starts-hidden { display: none; }
.error-message { display: none; margin: 0 0 10px 20px; color: #C00; }
.error .error-message { display: block; }
