
/* POLLSTER CANVAS */

#pollster-canvas { min-height: 100%; overflow: auto; padding: 10px 0 10px 10px; overflow: hidden; }
#pollster-canvas .template { position: relative; }

/* POLLSTER PROPERTIES PANEL */

#pollster-properties { float: right; width: 320px; z-index: 10; font-size: 11px; background: #F3F3F5; overflow: auto; }
#pollster-properties h2 { margin: 0 0 5px 0; font-size: 16px; border: 1px solid #D2D2D2; background: #666; font-weight: bold; padding: 3px 10px; -webkit-border-radius: 5px;  }
#pollster-properties h2 { background-image: -webkit-gradient(linear,center bottom,center top,from(#E4E4E4),to(#FEFEFE)); color: #191919; }
#pollster-properties hr { margin: 5px 0; }
#pollster-properties label { color: #888; margin: 0 0 0 9px; line-height: 22px;  }
#pollster-properties input { font-size: 11px; background: #EEE; border: 1px solid #D2D2D2; float: right; width: 170px; height: 20px; padding: 0; }
#pollster-properties input.short { width: 110px; margin-right: 10px; }
#pollster-properties textarea { font-size: 11px; background: #EEE; border: 1px solid #D2D2D2; float: right; width: 170px; height: 80px; padding: 0;}
#pollster-properties button { font-size: 11px; background: #EEE; border: 1px solid #D2D2D2; float: right; min-width: 50px; height: 20px; padding: 0 3px; margin: 0; cursor: pointer; }
#pollster-properties h2 button { background: none; border: none; color: #666; text-decoration: underline; min-width: 0; }
#pollster-properties select { font-size: 11px;  background: #EEE; border: 1px solid #D2D2D2; float: right; width: 170px; height: 20px; padding: 0; }
#pollster-properties select.short { width: 110px; margin-right: 10px; }
#pollster-properties select[multiple] { height: auto; }
#pollster-properties .readonly input { border: 1px solid #EEE; background: #FFF; }
#pollster-properties .property-group { background: #FFF; padding: 5px; margin: 5px; -webkit-border-radius: 5px; }
#pollster-properties .property-group .reset { float: right; height: 20px; width: 20px; }
#pollster-properties .property { clear: both; margin: 0 0 3px 0; }
#pollster-properties .tool-group { clear: both; background: #FFF; padding: 5px; margin: 5px; -webkit-border-radius: 5px; }
#pollster-properties .tool { clear: both; margin: 0 0 3px 0; }

/* DESIGNER-SPECIFIC QUESTION & RULES LAYOUT */

.question-wrapper { position: relative; width: 670px; }
.question { position: relative; float: left; width: 400px; min-height: 30px; }
.question-builtin { opacity: 0.5; }
.question-builtin p { margin-bottom: 0; }
.question:hover { -webkit-box-shadow: 0 0 5px 1px #ff0; -moz-box-shadow: 0 0 5px 1px #ff0; box-shadow: 0 0 5px 1px #ff0; }
.active .question { -webkit-box-shadow: 0 0 5px 1px #0f0; -moz-box-shadow: 0 0 5px 1px #0f0; box-shadow: 0 0 5px 1px #0f0; }
.question li { position: relative; }
.question li:hover { background-color: #ffc; }
.question li.selected { background-color: #cfc; }
.question .info { display: block; float: right; font-size: 12px; font-weight: bold; opacity: 0.5; }
.question .derived-values { display: block; margin-left: 25px; list-style: circle; text-transform: uppercase; }

.rules { display: block; float: left; width: 242px; margin-left: 10px; font-size: 10px; }
.rule { margin-bottom: 5px; padding: 1px 5px; font-size: 10px; border: 1px solid #ccc; background: #eee; }
.rule.selected { border: 1px solid #0f0; }

.mandatory .number { color: #C00; }
.starts-hidden { display: block; opacity: 0.5; }
.deleted { display: none; }
.error-message { display: block; }

.sortable > * { position: relative; }
.sortable .sort-buttons { position: absolute; top: -5px; right: -20px; border: 1px solid #CCC;
    padding: 2px; background: #FFF; -webkit-border-radius: 5px; }
.sortable .sort-buttons button { font-size: 11px; background: #EEE; border: 1px solid #D2D2D2; cursor: pointer; padding: 1px 3px; }
