<form class="survey" id="survey-{{ survey.id }}">
    {% for question in survey.question_set.all %}
    <div class="question-wrapper clearfix">
        <div id="question-{{ question.id }}" class="question {{ question.type }} {{ question.data_type.css_class }} {% if question.starts_hidden %} starts-hidden {% endif %}"
             data-question-type="{{ question.type }}" data-data-type="{{ question.data_type.id }}" data-shortname="{{ question.data_name }}">
            <p>
                <span class="number"></span>
                <span class="title">{{ question.title }}</span>
                {{ question.description }}
            </p>
            {% if question.is_text %}
            <input type="text" name="{{ question.data_name }}" id="question-{{ question.id }}-field"
                {% if question.starts_hidden %}disabled="disabled"{% endif %} />
            <ul class="derived-values">
                {% for option in question.option_set.all %}
                <li id="option-{{ option.id }}"
                    data-type="{{ option.virtual_type.id }}"
                    data-inf="{{ option.virtual_inf }}" data-sup="{{ option.virtual_sup }}" data-regex="{{ option.virtual_regex }}">
                    <div class="info"><input class="derived" type="checkbox" disabled="disabled"/></div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if question.is_single_choice %}
            <ul class="choices">
                {% for option in question.option_set.all %}
                <li id="option-{{ option.id }}" class="{% if option.starts_hidden %} starts-hidden {% endif %}">
                    <input type="radio" value="{{ option.value }}" name="{{ question.data_name }}" id="option-{{ option.id }}-field"
                        {% if question.starts_hidden or option.starts_hidden %}disabled="disabled"{% endif %} />
                    <label for="option-{{ option.id }}-field">{{ option.text }}</label>
                    <div class="info">{{ option.value }}</div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if question.is_multiple_choice %}
            <ul class="choices">
                {% for option in question.option_set.all %}
                <li id="option-{{ option.id }}" class="{% if option.starts_hidden %} starts-hidden {% endif %}">
                    <input type="checkbox" value="{{ option.value }}" name="{{ question.data_name }}" id="option-{{ option.id }}-field"
                        {% if question.starts_hidden or option.starts_hidden %}disabled="disabled"{% endif %} />
                    <label for="option-{{ option.id }}-field">{{ option.text }}</label>
                    <div class="info">{{ option.value }}</div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="info">{{ question.data_name }}</div>
        </div>
        <div class="rules">
            {% for rule in question.subject_of_rules.all %}
            <div id="rule-{{ rule.id }}"
                 data-type="{{ rule.rule_type.id }}"
                 {% if rule.subject_option.id %}
                 data-subject-option="option-{{ rule.subject_option.id }}"
                 {% endif %}
                 data-object-question="question-{{ rule.object_question.id }}"
                 data-object-options="{% for option in rule.object_options.all %} option-{{ option.id }} {% endfor %}"
                 class="rule">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div>
        <button type="submit">Submit</button>
    </div>
    <script type="text/javascript" class="pollster-rules">
        function pollster_fill_data_types(d) {
            var t;
            {% for question in survey.question_set.all %}
            d[{{question.id}}] = new {{question.data_type.js_class}}();
            {% endfor %}
        }
        function pollster_fill_derived_values(d) {
            var t;
            {% for question in survey.question_set.all %}
            {% if question.is_text %}
            t = d[{{question.id}}] = [];
            {% for option in question.option_set.all %}
            {% if option.virtual_type.js_class %}
            t.push(new {{option.virtual_type.js_class}}({{ option.id }},
                                                        '{{ option.virtual_inf|default:''|addslashes }}',
                                                        '{{ option.virtual_sup|default:''|addslashes }}',
                                                        '{{ option.virtual_regex|default:''|addslashes }}'));
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        }
        function pollster_fill_rules(d) {
            var t;
            {% for question in survey.question_set.all %}
            t = d[{{question.id}}] = [];
            {% for rule in question.subject_of_rules.all %}
            t.push(new {{rule.js_class}}({{rule.subject_option.id}},
                                         {{rule.object_question.id}},
                                         [ {% for option in rule.object_options.all %}
                                            {{ option.id }}{% if not forloop.last %},{% endif%}
                                         {% endfor %} ]));
            {% endfor %}
            {% endfor %}
        }
    </script>
</form>
