{% load cms_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl" dir="ltr">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/+media/base/img/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/+media/base/img/local_ggm/apple-touch-icon.png" />      

        <title>{% block title %}De Grote Griep Meting{% endblock title %}</title>
        {% block add_head %}{% endblock add_head %}
        <link type="text/css" rel="stylesheet" media="all" href="/+media/base/css/default.css" />
        <link type="text/css" rel="stylesheet" media="all" href="/+media/base/css/local_ggm.css" />
        {% block add_css %}{% endblock add_css %}
        {% block add_js %}{% endblock add_js %}
    </head>

    <body{% spaceless %}{% block add_body %}{% endblock add_body %}{% endspaceless %}>
    	<div id="boxwrapper">
    		<div id="box">
        		{% block content %}{% endblock content %}        <noscript><img src="/+media/base/img/local_ggm/logo-ggm_noscript.gif" alt="De Grote Griep Meting" /></noscript>
    		</div>
		</div>
    </body>

</html>
