<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl" dir="ltr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="apple-touch-icon.png" />		
		<title>Influenzanet</title>
		<link type="text/css" rel="stylesheet" media="all" href="css/default.css" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/influenzanetbar.js"></script>
	</head>

	<body>
	<div id="page">
		<div id="influenzabar">
			<p class="influenzanet">Influenzanet is a system to monitor the activity of influenza-like-illness (ILI) with the aid of volunteers via the internet</p>							
		</div>
		<div id="header">
			<div id="headerlogo"></div>
			<div id="navigation">
				<div id="menubar">
					<ul>
						<li><a href="index.html">Influenzanet</a></li>
						<li><a href="results.html">Results</a></li>
						<li><a href="#placeholder">Method</a></li>
						<li><a href="data.html">Data</a></li>
						<li><a href="publications.html" class="active">Publications</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div id="searchbar">
				    <form method="post" action="#placeholder">
				    <p><input type="text" id="searchfield" name="q"/><input type="submit" id="searchsubmit" value="Search" /></p>
				    </form>
				</div>
			</div>			
		</div> 
		<div id="colmask">
			<div id="colleft">
				<div id="colright"> 
					<div id="col1wrap"> 
						<div id="colleftpad"> 
							<div id="col1"> 
								<h1>Scientific publications</h1>
								<p class="specialitem"><a href="http://www.epiwork.eu/second_period/papers/ISI/influweb-ehealth2010_submitted.pdf" rel="external">Internet-based monitoring system for influenza-like illness: H1N1 surveillance in Italy</a><br /><em>D. Paolotti, C. Gioannini, V. Colizza, A. Vespignani</em><br /><strong>proceedings of the 3rd International ICST Conference on Electronic Healthcare for the 21st century, Casablanca 13-15 December 2010.</strong></p>
								<p class="specialitem"><a href="http://www.epiwork.eu/second_period/papers/LSHTM/TilsonEamesetalBMCPubHealth10.pdf" rel="external">Internet-based surveillance of Influenza-like-illness in the UK during the 2009 H1N1 influenza pandemic</a><br /><em>Tilston NL, Eames KTD, Paolotti D, Ealden T, Edmunds WJ</em><br /><strong>BMC Public Health. 2010 Oct 27;10:650</strong></p>
								<p class="specialitem"><a href="http://www.biomedcentral.com/content/pdf/1471-2458-10-650.pdf" rel="external">Internet-based surveillance of Influenza-like-illness in the UK during the 2009 H1N1 influenza pandemic</a><br /><em>N.L Tilston, K.T.D. Eames, D. Paolotti, T. Ealden, W. J. Edmunds</em><br /><strong>BMC Public Health 2010, 10:650 (2010)</strong></p>
								<p class="specialitem"><a href="http://www.sciencedirect.com/science?_ob=ArticleURL&_udi=B6TD4-4Y6V99S-1&_user=10&_coverDate=03%2F11%2F2010&_rdoc=1&_fmt=high&_orig=search&_sort=d&_docanchor=&view=c&_searchStrId=1350484880&_rerunOrigin=scholar.google&_acct=C000050221&_version=1&_urlVersion=0&_userid=10&md5=8d34cfb4cac06d63332a1883b4ac5299" rel="external">Vaccination against pandemic influenza A/H1N1v in England: a real-time economic evaluation</a><br /><em>Baguelin M, Hoek AJ, Jit, Flasche S, White PJ</em><br /><strong>Vaccine 28 (2010) 2370-2384</strong></p>	
								<p class="specialitem"><a href="http://beta.influenzanet.com/?page=publications&abstract=friesema2009" rel="external">Internet-based monitoring of influenza-like illness in the general population: Experience of five influenza seasons in the Netherlands</a><br /><em>Friesema IHM, Koppeschaar CE, Donker GA, Dijkstra F, van Noort SP, Smallenburg R, van der Hoek W, van der Sande MAB</em><br /><strong>Vaccine 2009, Volume 27, Issue 45, 23 October 2009, Pages 6353-6357</strong></p>
								<p class="specialitem"><a href="http://beta.influenzanet.com/?page=publications&abstract=smolderen2007" rel="external">Personality, psychological stress, and self-reported influenza symptomatology</a><br /><em>Smolderen KG, Vingerhoets AJ, Croon MA, Denollet J.</em><br /><strong>BMC Public Health. 2007 Nov 23;7:339</strong></p>
								<p class="specialitem"><a href="http://beta.influenzanet.com/?page=publications&abstract=vannoort2007" rel="external">Gripenet: an internet-based system to monitor influenza-like illness uniformly across Europe</a><br /><em>van Noort SP, Muehlen M, Rebelo de Andrade H, Koppeschaar C, Lima Lourenco JM, Gomes MG.</em><br /><strong>Euro Surveill. 2007 Jul 1;12(7):E5-6.</strong></p>
								<p class="specialitem"><a href="http://beta.influenzanet.com/?page=publications&abstract=marquet2006" rel="external">Internet-based monitoring of influenza-like illness (ILI) in the general population of the Netherlands during the 2003-2004 influenza season.</a><br /><em>Marquet RL, Bartelds AI, van Noort SP, Koppeschaar CE, Paget J, Schellevis FG, van der Zee J.</em><br /><strong>BMC Public Health. 2006 Oct 4;6:242</strong></p>
							</div> 
						</div> 
					</div> 
					<div id="col2" class="disable">
					</div> 
					<div id="col3"> 
						<a href="http://www.epiwork.eu/" rel="external" title="Developing the framework for an epidemic forecast infrastructure"><img src="img/local/content/right-epibanner.jpg" alt="Epiwork" /></a>
						<p><img src="img/local/content/right-petridishes.jpg" alt="Virus cultivation" /></p><p><strong>Influenzanet is part of the Epiwork WP5. This Work Package intends to overcome the limitation of the state of the art surveillance systems for Influenza by proposing an innovative ICT approach based on Web2.0 tools. (<a href="http://www.epiwork.eu/resources/wp5-ict-monitoring-and-reporting-systems/" rel="external">Epiwork WP5</a>)</strong></p>
					</div>
				</div> 
			</div> 
		</div> 
		<div id="footer">
			<div id="footercontent">
				<div id="footercol1"><img src="img/main/influenzanetlogo.png" alt="Influenzanet logo" /><p>Influenzanet is a system to monitor the activity of influenza-like-illness (ILI) with the aid of volunteers via the internet with the aid of volunteers.<br />We have tried to ensure that all information we provide through this website is correct at the time we include it.</p></div>
				<div id="footercol2"><h2>Participants</h2>
					<a href="http://preview.aktivgegengrippe.de/" rel="external" title="Aktiv gegen Grippe Deutschland">Aktiv gegen Grippe Deutschland</a><br />
					<a href="http://preview.aktivgegengrippe.at/" rel="external" title="Aktiv gegen Grippe Österreich">Aktiv gegen Grippe Österreich</a><br />
					<a href="http://preview.aktivgegengrippe.ch/" rel="external" title="Aktiv gegen Grippe Schweiz">Aktiv gegen Grippe Schweiz</a><br />
					<a href="http://www.degrotegriepmeting.nl/" rel="external" title="De Grote Griepmeting Nederland">De Grote Griepmeting Nederland</a><br />
					<a href="http://www.degrotegriepmeting.be/" rel="external" title="De Grote Griepmeting België">De Grote Griepmeting België</a><br />
					<a href="http://www.flusurvey.org.uk/" rel="external" title="Flusurvey United Kingdom">Flusurvey United Kingdom</a><br />
				</div>
				<div id="footercol3"><h2>&nbsp;</h2>
					<a href="http://www.gripenet.pt/" rel="external" title="Gripenet Portugal">Gripenet Portugal</a><br />
					<a href="http://www.gripometro.es/" rel="external" title="Gripometro España">Gripometro España</a><br />
					<a href="http://www.influensakoll.se/" rel="external" title="Influensakoll Sverige">Influensakoll Sverige</a><br />
					<a href="http://www.influweb.it/" rel="external" title="Influweb Italia">Influweb Italia</a><br />				
					<a href="#top" title="Mesure de la grippe France">Mesure de la grippe France</a><br />
				</div>
			</div>
			<div id="footerclose">
				&copy; Influenzanet 2011  &nbsp;|&nbsp; <a href="contact.html" title="Contact">Contact</a>
			</div>
		</div>
	</div>
	</body>

</html>
