{% load cms_tags menu_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=0.75, user-scalable=yes" />
		<meta name="robots" content="index, follow" />
        <link rel="shortcut icon" href="{{ MEDIA_URL }}base/img/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ MEDIA_URL }}base/img/apple-touch-icon.png" />      

		<title>{% block title %}Influenzanet: {% page_attribute page_title %}{% endblock title %}</title>
		<meta name="description" content="{% page_attribute meta_description %}"/>
        <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
        {% block add_head %}{% endblock add_head %}

        <link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}base/css/default.css" />
        {% block add_css %}{% endblock add_css %}
        {% block add_js %}{% endblock add_js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}base/js/influenzanet.js"></script>
	</head>

	<body{% spaceless %}{% block add_body %}{% endblock add_body %}{% endspaceless %}>
	<div id="page">
		
		<div id="influenzabar">
			{% block masthead %}<p class="influenzanet">Influenzanet is a system to monitor the activity of influenza-like-illness (ILI) with the aid of volunteers via the internet</p>{% endblock masthead %}
		</div>
		
		<div id="header">
			<div id="navigation">
				<div id="menubar">
					{% spaceless %}<ul>{% block menubar %}{% show_menu 0 2 %}{% endblock menubar %}</ul>{% endspaceless %}
				</div>
				<div id="searchbar">
				    <form method="post" action="#placeholder">
				    <p><input type="text" id="searchfield" name="q"/><input type="submit" id="searchsubmit" value="Search" /></p>
				    </form>
				</div>
			</div>			
		</div> 
		
		{% block content %}{% endblock content %}
		
		<div id="footer">{% block footercontent %}
			<div id="footercontent">
				<div id="footercol1"><img src="{{ MEDIA_URL }}base/img/main/influenzanetlogo.png" alt="Influenzanet logo" /><p>Influenzanet is a system to monitor the activity of influenza-like-illness (ILI) with the aid of volunteers via the internet with the aid of volunteers.<br />We have tried to ensure that all information we provide through this website is correct at the time we include it.</p></div>
				<div id="footercol2"><h2>Partners</h2>
						<a href="http://preview.aktivgegengrippe.de/" rel="external" title="Aktiv gegen Grippe Deutschland">Aktiv gegen Grippe Deutschland</a><br />
						<a href="http://preview.aktivgegengrippe.at/" rel="external" title="Aktiv gegen Grippe Österreich">Aktiv gegen Grippe Österreich</a><br />
						<a href="http://preview.aktivgegengrippe.ch/" rel="external" title="Aktiv gegen Grippe Schweiz">Aktiv gegen Grippe Schweiz</a><br />
						<a href="http://www.degrotegriepmeting.nl/" rel="external" title="De Grote Griepmeting Nederland">De Grote Griepmeting Nederland</a><br />
						<a href="http://www.degrotegriepmeting.be/" rel="external" title="De Grote Griepmeting België">De Grote Griepmeting België</a><br />
					</div>
					<div id="footercol3"><h2>&nbsp;</h2>
						<a href="http://www.flusurvey.org.uk/" rel="external" title="Flusurvey United Kingdom">Flusurvey United Kingdom</a><br />
						<a href="http://www.gripenet.pt/" rel="external" title="Gripenet Portugal">Gripenet Portugal</a><br />
						<a href="http://www.influensakoll.se/" rel="external" title="Influensakoll Sverige">Influensakoll Sverige</a><br />
						<a href="http://www.influweb.it/" rel="external" title="Influweb Italia">Influweb Italia</a><br />				
						<a href="#top" title="Mesure de la grippe France">Mesure de la grippe France</a><br />
				</div>
			</div>{% endblock footercontent %}
			<div id="footerclose">
				&copy; {% now "Y" %} Influenzanet &nbsp;|&nbsp; <a href="contact.html" title="Contact">Contact</a>
			</div>
		</div>
	</div>
	</body>

</html>
