{% extends "sitebase.html" %}
{% load cms_tags %}

{% block content %}
        <div id="colmask">
            <div id="colleft">
                <div id="colright"> 
                    <div id="col1wrap"> 
                         <div id="colleftpad"> 
                             <div id="col1"> 
                                 {% block col1 %}{% placeholder "hoofdpagina" %}{% endblock col1 %}
                             </div> 
                         </div> 
                    </div> 
                    <div id="col2" class="disable"> 
                    </div> 
                    <div id="col3"> 
                        {% block col3 %}{% placeholder "balk rechts" %}<a href="http://www.epiwork.eu/" rel="external" title="Epiwork: Developing the framework for an epidemic forecast infrastructure"><img src="/+media/base/img/local_ggm/content/epibanner.jpg" alt="Epiwork" /></a>{% endblock col3 %}
                    </div> 
                </div> 
            </div> 
        </div>{% endblock content %}