body {
    background: #C1C1C1;
    margin: 5px 10px;
    font-family: verdana, sans-serif;
    font-size:12px;
	line-height:22px;
}

#c {
    width: 992px;
    background: white;
    margin: 0 auto;
    border: 1px solid #868686;
}

br.clear {
    clear: both;
}

a {
    color: #393;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*= InfluenzaNet Bar =*/

#inetbarheader {
    background: #4C4C4C url(/+media-ggm/inetbar/influenzanet_top_gradient_black.jpg) top left repeat-x;
    max-height: 25px;
    min-height: 25px;
    height: 25px;
    padding: 10px 5px 0px 5px;
}
#inetbarheader p {
    margin: 2px 0 0 0;
    color: white;
    font-size: 8pt;
    text-align: right;
}
#inetbarheader p span.logo {
    float: left;
    margin-top: -10px;
    cursor: pointer;
}
#inetbarcontent {
    clear: both;
    padding: 10px;
    background: #262626;
    color: white;
}
#inetbarleft {
    background: white;
    color: black;
    float: left;
    width: 220px;
    padding: 10px;
}
#inetbarleft p {
    margin: 0px;
}
#inetbarmain {
    margin-left: 255px;
    margin-right: 170px;
}
#inetbarmain p {
    margin-top: 0px;
}
#inetbarright {
    float: right;
    width: 135px;
    background: #444;
    padding: 5px 10px;
}
#inetbarright p {
    margin-top: 0px;
}
#inetbarright ul {
    list-style: none;
    padding-left: 0;
    margin: 0px;
}
#inetbarright ul li {
    margin-bottom: 2px;
}
#inetbarright ul li img {
    vertical-align: middle;
}

/*= Header =*/

#header {
	position:relative;
    margin: 10px;
}
#header #logo {
    float: left;
}
#header div.banner {
	position:relative;
    float: left;
    left:17px;
 	border: 1px solid #000000;   
}


#header #account {
	float:right;
	line-height:13px;
	text-align:center;
}
#header #account p {
    margin: 0 0 5px 0;
}
#header #account ul {
    list-style: none;
    margin: 0px;
    width: 150px;
    padding-left: 0px;
}
#header #account ul li {
    text-align: center;
    margin-bottom: 2px;
    padding: 2px;
    font-size: 8pt;
}
#header #account ul.anonymous li {
    font-weight: bold;
    border: 1px solid black;
    background: yellow url(/+media-ggm/yellow_gradient_high.jpg) bottom left repeat-x;
}
#header #account ul.member li {
    font-weight: bold;
    border: 1px solid black;
    background: #3a3 url(/+media-ggm/green_gradient_high.jpg) bottom left repeat-x;
}
#header #account ul.anonymous li a {
    text-decoration: none;
    color: black;
}
#header #account ul.member li a {
    text-decoration: none;
    color: white;
}
#header #account ul li a:hover {
    text-decoration: underline;
}

/*= Search Bar =*/

#searchbar {
	float:right;
	margin:0 10px;
	position:relative;
	text-align:right;
	width:200px;
	z-index:10;
}
#searchbar input[name="q"] {
    width: 150px;
}

/*= Menu Bar =*/

#menubar {
	position:relative;
  	background: url("/+media-ggm/menu_bg.jpg"); 
    background-position:left bottom;
	background-repeat:repeat-x;
	padding:20px 10px 0; 
	height:22px;
}

#menubar ul {
	position:absolute;
    list-style: none;
    padding-left: 0px;
    margin: 0px;   
    line-height:12px;
    bottom:0px;

}
#menubar li {

	bottom:0px;
   float:left;
    border: 1px solid #cccccc;   
    padding:2px 0px;
	margin-right:3px;
    background: #ffffff;
    line-height:16px;
    
}
#menubar li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 8pt;
    padding:4px 10px;
    text-align:center;
	margin:0px;
	line-height:16px;
}

#menubar li a:hover {
    color: #393;       
}

#menubar li:hover {
    color: #393;    
    border-bottom: 1px solid #eeeeee;
}


#menubar li a.active {
    background: #393;
    color: white;
}

#menubar li.selected {
    background: #393;
    background-image:url("/+media-ggm/menu_header_green_gradient.jpg");
	background-position:left bottom;
	border-bottom: 1px solid #1f6832;
	line-height:16px;
}

#menubar li.selected:hover {
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
}

#menubar li.selected a {
    color: white;	
}

#menubar li.selected a:hover {
    color: #393;	
    
}



/*= Footer =*/

#footer {
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 10px 20px;
    font-weight: bold;
	font-size:10px;
	font-weight:bold;
	line-height:16px;
  
}
#footer p {
    margin: 0px;
}

/*= Page =*/

#page {
    margin: 10px;
}

/*= 3 Columns Layout =*/

#page .col3 #left {
    float: left;
    width: 300px;
    margin-right: 10px;
}

#page .col3 #content {
    float: left;
    width: 460px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-width: 0 1px;
}

#page .col3 #right {
	float:right;
	padding-left:10px;
	width:170px;
}

#page .col3 #left .block {
    border: 1px solid #888;
    background: #EAEAEA;
}
#page .col3 #left .block h2 {
    background: #3a3 url(/+media-ggm/menu_header_green_gradient.jpg) bottom left repeat-x;
    color: white;
    margin: 0px;
    padding: 3px 3px 5px 3px;
    font-size: 12pt;
}
#page .col3 #left .news .entry {
    margin: 0 5px;
    border-bottom: 1px solid #ccc;
}
#page .col3 #left .news .title {
    font-weight: bold;
    margin:0;
}
#page .col3 #left .news .title a {
    color: black;
    font-size: 9pt;
}
#page .col3 #left .news .excerpt {
    font-size: 8pt; 
    margin:0;
}

/*= 3 Columns Layout Style 2 =*/

#page .col3b #left {
	float:left;
	padding-right:10px;
	width:170px;
}

#page .col3b #content {
    float: left;
    width: 460px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-width: 0 1px;
}

#page .col3b #right {
    float: right;
    width: 300px;
    padding-left: 10px;
}

#page .col3b #right img.inset {
    float: left;
    width: 100px;
    border: 1px solid black;
    margin: 0 10px 10px 0;
}

#page .col3b #right div.block {
    clear: both;
    border-bottom: 1px solid #aaa;
    font-size:10px;
    line-height:18px;
}

#page .col3b #content h1 {
    color: #393;
    font-size: 16pt;
    margin-top: 0px;
}

#page .col3b #content h2 {
    font-size: 12pt;   
}

#page .col3b #right h2 {
    font-size: 10pt; 
    margin:0;
}

/*= News Page =*/

#news h2 {
    color: #393;
}
#news div.excerpt {
    font-weight: bold;
}

#news-archive .entries p.title {
    font-weight: bold;
}
#news-archive .entries p {
    margin: 0px;
}
#news-archive .entries .entry {
    margin-bottom: 10px;
}

/*= Side bar's Blocks =*/

.block {
    margin-bottom: 10px;
}

.block.sponsors, .block.partijen {
    text-align: center;
    border: 1px solid #ccc;
    font-size:10px;
    color:#666666;
    width:170px;
}

.block.sponsors h2, .block.partijen h2 {
    color: #888;
    font-size: 9pt;
    font-weight: normal;
}

.block.sponsors img, .block.partijen img {
    max-width: 150px;
}





/*= Medewerkers Page =*/

#medewerkers p {
    clear: both;
    margin-bottom: 10px;
}
#medewerkers p img.face {
    float: left;
    vertical-align: bottom;
    margin: 0 10px 10px 0;
}
#medewerkers p span.name {
    font-weight: bold;
}


/*= front =*/

.attentionblock {
	position:relative;
	border:1px solid #CCCCCC;
	text-size:9px;
	width:170px;
	height:170px;
}

.attentionblock_free {
	position:relative;
	border:1px solid #CCCCCC;
	text-size:9px;
	width:170px;
}

.attentionblock img, .attentionblock_free img {
	padding:6px;
}

.attentiontitle {
	position:absolute;
	background-color:green;
	color:#ffffff;
	padding:0 4px;
	margin:2px;
	width:156px;
    border: 1px solid #ffffff;
    font-weight:bold;
	
}

.attentiontext {
	position:absolute;
	padding:0 4px;
	margin:2px;
	font-size:10px;
	bottom:0px;
	width:156px;
    border: 1px solid #000000;	
	background-color:#ffffff;    
}

.attentiontext_free {

	padding:0 4px;
	margin:2px;
	font-size:10px;
	bottom:0px;
	background-color:#ffffff;    
}

.at_active {
	cursor:pointer;
	color:green;
}



/*= FAQ Page =*/

#faq ul {
    padding-left: 20px;
}


