{% extends "base/threecol.html" %}
{% load i18n %}

{% block col1 %}

<h1>{% trans "Entries for" %} {{ year }}</h1>

<div class="entries">
{% for object in items.object_list %}
<h2><a href="{{ object.get_relative_url_archive_year }}">{{ object.title }}</a></h2>
<p class="date">{% filter capfirst %}{{ object.pub_date }}{% endfilter %}</p>
<hr />
{% endfor %}
</div>

<div class="pagination">
{% if items.has_previous %}
<div class="left"><a href="?page={{ items.previous_page_number }}">&#x25C0; {% trans "Previous" %}</a></div>
{% endif %}
{% if items.has_next %}
<div class="right"><a href="?page={{ items.next_page_number }}">{% trans "Next" %} &#x25B6;</a></div>
{% endif %}
</div>

{% endblock col1 %}

{% block col2 %}
    {% include "journal/categories.html" %}
{% endblock col2 %}
