{% extends "base/threecol.html" %}

{% block col1 %}
<h1>{{ entry.title }}</h1>

<div class="content">
	{% if entry.image %}<img src="{% url journal_image slug=entry.slug %}" {% if entry.alignment %}align="{{ entry.alignment }}"{% endif %} alt="{{ entry.title }}"/>{% endif %}
	{{ entry_content }}
	<p class="date">{% filter capfirst %}{{ entry.pub_date }}{% endfilter %}</p>
</div>

{% endblock col1 %}


{% block col2 %}
    {% include "journal/latest.html" %}
    {% include "journal/categories.html" %}
{% endblock col2 %}
