<div id="inetbarleft">
	<p>
		<a href="http://www.epiwork.eu/">
			<img src="/+media/images/epiwork_logo.jpg"/>
		</a>
	</p>
	<p>
		Developing the framework for an epidemic forecast infrastructure.
	</p>
	<p>
		<a href="http://www.epiwork.eu/">
			http://www.epiwork.eu/
		</a>
	</p>
	<p>
		<img src="/+media/images/seventh_framework_logo.jpg"/>
	</p>
	<p>The Seventh Framework Programme (FP7) bundles all research-related EU initiatives.
	</p>
</div>

<div id="inetbarright">
	<p>
		Participating countries and volunteers:
	</p>
	<ul>
		<li>
			<a href="http://www.degrotegriepmeting.nl/">
				<img src="/+media/flags/nl.png" />
			</a>
			20947
		</li>
		<li>
			<a href="http://www.degrotegriepmeting.nl/">
				<img src="/+media/flags/be.png" />
			</a>
			5843
		</li>
		<li>
			<a href="http://www.gripenet.pt/">
				<img src="/+media/flags/pt.png" />
			</a>
			{{ pt_c }}
		</li>
		<li>
			<a href="http://www.influweb.it/">
				<img src="/+media/flags/it.png" />
			</a>
			{{ it_c }}
		</li>
		<li>
			<a href="">
				<img src="/+media/flags/mx.png" />
			</a>
			3950
		</li>
		<li>
			<a href="http://www.gripenet.com.br/">
				<img src="/+media/flags/br.png" />
			</a>
			370
			</li>
		<li>
			<a href="http://www.flusurvey.org.uk/">
				<img src="/+media/flags/gb.png" />
			</a>
			5555
		</li>
		<li>
			<a href="http://www.flutracking.net/">
				<img src="/+media/flags/au.png" />
			</a>
			7776
		</li>
	</ul>
</div>

<div id="inetbarmain">
	<p>
		InfluenzaNet is a system to monitor the activity of influenza-like-illness (ILI) with the aid of volunteers via the internet. It has been operational in The Netherlands and Belgium (since 2003), Portugal (since 2005) and Italy (since 2008), and the current objective is to implement InfluenzaNet in more European countries. In contrast with the traditional system of sentinel networks of mainly primary care physicians coordinated by the European Influenza Surveillance Scheme (EISS), InfluenzaNet obtains its data directly from the population. This creates a fast and flexible monitoring system whose uniformity allows for direct comparison of ILI rates between countries.
	</p>
	<p>
		Any resident of a country where InfluenzaNet is implemented can participate by completing an online application form, which contains various medical, geographic and behavioural questions. Participants are reminded weekly to report any symptoms they have experienced since their last visit. The incidence of ILI is determined on the basis of a uniform case definition.
	</p>
	<p>
		In Italy, Influenzanet is operated under the name <b>Influweb</b> by the <b>Computational Epidemiology Laboratory ad ISI Foundation in Turin</b>.
	</p>
</div>
	
<br style="clear:both" />
