/* Customisable styles */

#account ul.anonymous li, #account ul.member li, #searchbar input#searchsubmit, input#commentsubmit {
 background: #{{ settings.light_color }};
}

#account ul.anonymous li:hover, #account ul.member li:hover, #searchbar input#searchsubmit:hover, input#commentsubmit:hover {
 background: #{{ settings.dark_color }};
}

#col2 p.title {
 background: #{{ settings.light_color }};
}

#col1 a,
#col2 a,
#col3 a {
 color: #{{ settings.dark_color }};
}

