<?xml version='1.0' encoding='utf-8'?>
    <!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN'
    'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
    <html xmlns='http://www.w3.org/1999/xhtml' xml:lang='nl'>
    <head>
    <title>Influenzanet</title>
    <meta name='description' content='Influenzanet is a system to
    monitor the activity of influenza-like-illness (ILI) with the aid
    of volunteers via the internet. It has been operational in The
    Netherlands and Belgium (GroteGriepmeting), Portugal (Gripenet),
    Italy (Influweb), and United Kingdom (FluSurvey).' />
    <meta name='keywords' content='influenzanet, influenza, ili,
    internet monitoring, epiwork, grotegriepmeting, gripenet, influweb,
    flusurvey' />
    <meta name='language' content='english' />
    <meta name='author' content='S.P. van Noort' />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}base/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}base/img/apple-touch-icon.png" />      
    <link rel='stylesheet' href='{{ MEDIA_URL }}sandervannoort/style.css' type='text/css' /><body>
<img src='{{ MEDIA_URL }}sandervannoort/inet.gif' alt='Influenzanet logo' />
<p>
Influenzanet is a system to monitor the activity of
influenza-like-illness (ILI) with the aid of volunteers via the
internet. It has been operational in The Netherlands and Belgium
(since 2003), Portugal (since 2005), Italy (since 2008) and United
Kingdom (since 2009), and the current objective is to implement 
Influenzanet in more European countries. 
In contrast with the traditional system of sentinel
networks of mainly primary care physicians, Influenzanet obtains its
data directly from the population. This creates a fast and flexible
monitoring system whose uniformity allows for direct comparison of
ILI rates between countries.
</p>

<p>
Any resident of a country where Influenzanet is implemented can
participate by completing an online application form, which contains
various medical, geographic and behavioural questions. Participants
are reminded weekly to report any symptoms they have experienced
since their last visit. The incidence of ILI is determined on the
basis of a uniform case definition.
</p>

<div class='figure'>
        <a target = '_blank' href='http://www.grotegriepmeting.nl'>
        <img src='{{ MEDIA_URL }}sandervannoort/griepmeting.jpg' alt='griepmeting'/></a>
        <br /><a target = '_blank' href='http://www.grotegriepmeting.nl'>Netherlands / Belgium</a>
</div>
<div class='figure'>
        <a target = '_blank' href='http://www.gripenet.pt'>
        <img src='{{ MEDIA_URL }}sandervannoort/gripenet.gif' alt='gripenet'/></a>
        <br /><a target = '_blank' href='http://www.gripenet.pt'>Portugal</a>
</div>
<div class='figure'>
        <a target = '_blank' href='http://www.influweb.it'>
        <img src='{{ MEDIA_URL }}sandervannoort/influweb.gif' alt='Influweb'/></a>
        <br /><a target = '_blank' href='http://www.influweb.it'>Italy</a>
</div>
<div class='figure'>
        <a target = '_blank' href='http://flusurvey.org.uk'>
        <img src='{{ MEDIA_URL }}sandervannoort/flusurvey.png' alt='flusurvey'/></a>
        <br /><a target = '_blank' href='http://flusurvey.org.uk'>United Kingdom</a>
</div>
<div class='figure'>
        <a target = '_blank' href='http://www.gripenet.com.br'>
        <img src='{{ MEDIA_URL }}sandervannoort/gripenetbr.png' alt='Gripenet Brasil'/></a>
        <br /><a target = '_blank' href='http://www.gripenet.com.br'>Brasil</a>
</div>
<div class='figure'>
        <a target = '_blank' href='http://www.flutracking.net'>
        <img src='{{ MEDIA_URL }}sandervannoort/flutracking.jpg' alt='FluTracking'/></a>
        <br /><a target = '_blank' href='http://www.flutracking.net'>Australia</a>
</div>
<div class='figure'>
        <a target = '_blank' href='http://reporta.c3.org.mx/'>
        <img src='{{ MEDIA_URL }}sandervannoort/reporta.jpg' alt='Mexico'/></a>
        <br /><a target = '_blank' href='http://reporta.c3.org.mx/'>Mexico</a>
</div>
<div class='figure'>
        <a target = '_blank' href='http://grippemontreal.qc.ca/'>
        <img src='{{ MEDIA_URL }}sandervannoort/grippem.gif' alt='Montreal'/></a>
        <br /><a target = '_blank' href='http://grippemontreal.qc.ca/'>Montreal</a>
</div>
<div class='figure'>
        <a target = '_blank' href='http://www.epiwork.eu/'>
        <img src='{{ MEDIA_URL }}sandervannoort/epiwork.png' alt='Epiwork'/></a>
        <br /><a target = '_blank' href='http://www.epiwork.eu/'>Epiwork</a>
</div>

<h3 style='clear: both'>Scientific publications</h2>
<p>
    <a href='pdf/marquet2006.pdf'><img src='{{ MEDIA_URL }}sandervannoort/pdf.png' alt='PDF'></a>
    <a href='http://www.biomedcentral.com/1471-2458/6/242'
    >Internet-based monitoring of influenza-like illness (ILI) in the general population of the Netherlands during the 2003-2004 influenza season.</a>
    <br /> 
    <i>Marquet RL, Bartelds AI, van Noort SP, Koppeschaar CE, Paget J, Schellevis FG, van der Zee J.</i><br /> 
    BMC Public Health. 2006 Oct 4;6:242
    </p> 
<p> 
    <a href='pdf/vannoort2007.pdf'><img src='{{ MEDIA_URL }}sandervannoort/pdf.png' alt='PDF'></a>
    <a href='http://www.eurosurveillance.org/ViewArticle.aspx?ArticleId=722'
    >Gripenet: an internet-based system to monitor influenza-like illness uniformly across Europe</a><br /> 
    <i>van Noort SP, Muehlen M, Rebelo de Andrade H, Koppeschaar C, Lima Lourenco JM, Gomes MG.</i><br /> 
    Euro Surveill. 2007 Jul 1;12(7):E5-6.
    </p> 
<p> 
    <a href='pdf/smolderen2007.pdf'><img src='{{ MEDIA_URL }}sandervannoort/pdf.png' alt='PDF'></a>
    <a href='http://www.biomedcentral.com/1471-2458/7/339'
    >Personality, psychological stress, and self-reported influenza symptomatology</a><br /> 
    <i>Smolderen KG, Vingerhoets AJ, Croon MA, Denollet J.</i><br /> 
    BMC Public Health. 2007 Nov 23;7:339
    </p> 
<p> 
    <a href='pdf/friesema2009.pdf'><img src='{{ MEDIA_URL }}sandervannoort/pdf.png' alt='PDF'></a>
    <a href='http://www.sciencedirect.com/science?_ob=ArticleURL&_udi=B6TD4-4XGB994-H&_user=10&_rdoc=1&_fmt=&_orig=search&_sort=d&_docanchor=&view=c&_acct=C000050221&_version=1&_urlVersion=0&_userid=10&md5=605ba8397fa1d73f37f1bf98a8740602'
    >Internet-based monitoring of influenza-like illness in the general population: Experience of five influenza seasons in the Netherlands</a><br /> 
    <i>Friesema IHM, Koppeschaar CE, Donker GA, Dijkstra F, van Noort SP, Smallenburg R, van der Hoek W, van der Sande MAB</i><br /> 
    Vaccine 2009, Volume 27, Issue 45, 23 October 2009, Pages 6353-6357
    </p> 

</body>
</html>
