#survey form ul {
    list-style: none;
    padding-left: 0px;
}

#survey form label {
}

#survey .question {
    border: 1px solid #ccc;
    border-left-width: 3px;
    padding: 20px;
    margin-bottom: 10px;
}
#survey .label {

}
#survey .answer {

}
