#survey form ul {
    list-style: none;
    padding-left: 0px;
}

#survey form label {
}

#survey .question {
    border: 1px solid #ccc;
    border-left-width: 3px;
    padding: 20px;
    margin-bottom: 10px;
}
#survey .label {

}
#survey .answer {

}
#survey .skip {
    font-size: 12px;
    text-align: center;
    background: #eee;
    margin-bottom: 5px;
    padding: 2px 20px;
}

#survey .question.error {
    border-color: #c00;
    background: #fff6f6;
}
#survey .errormsg {
    color: red;
    margin-bottom: 15px;
}
#survey p {
    margin-top: 0px;
}
#survey ul {
    margin-bottom: 0px;
}
#survey ul.errorlist {
    margin-top: 0px;
}
