{% load cms_extra %}

{{ page_parents }}

{% if children %}

{% for item in children %}

<div onclick="document.location='{{ item.get_absolute_url }}'" 
onmouseout="this.className='sisterarticles'" ;="" 
onmouseover="this.className='sisterarticles sis_active'" class="sisterarticles">

<div class="sisterarticletitle active  ">{{ item.get_title }}</div>
<div class="sisterarticleintro">
{{ item|first_plugin:"image" }}
{{ item|first_plugin:"substract" }}
<div class="clearer"></div>
</div>

</div>



{% endfor %}

{% endif %}

