{% extends "base/threecol.html" %}
{% load i18n %}

{% block col2 %}
                        <p class="title">{% trans "Contact information" %}</p> 
                        <p><strong>Influenzanet coordination</strong><br /> 
                        Ronald Smallenburg<br /> 
                        directie [at] grotegriepmeting.nl<br /><br /> 
                        <strong>Influenzanet analysis</strong><br /> 
                        Sander van Noort<br /> 
                        vnoort [at] igc.gulbenkian.pt<br /><br /> 
                        <strong>Influenzanet webdevelopment</strong><br /> 
                        Antwan Wiersma<br /> 
                        development [at] grotegriepmeting.nl<br /><br /> 
                        <strong>The Netherlands and Belgium</strong><br /> 
                        Project leader: Carl Koppeschaar<br /> 
                        Organisers Grote Griepmeting<br /> 
                        redactie [at] grotegriepmeting.nl<br /><br /> 
                        <strong>Portugal</strong><br /> 
                        Project leader: Vitor Faustino<br /> 
                        Organisers Gripenet<br /> 
                        info [at] gripenet.pt<br /><br /> 
                        <strong>Italy</strong><br /> 
                        Project leaders: Vittoria Colizza and Daniela Paolotti<br /> 
                        Organisers InfluWeb<br /> 
                        info [at] influweb.it<br /><br /> 
                        <strong>United Kingdom</strong><br /> 
                        Project leader: John Edmunds<br /> 
                        organisers FluSurvey<br /> 
                        webmaster [at] flusurvey.org.uk<br /><br /> 
                        <strong>Sweden</strong><br /> 
                        Project leader: Moa Rehn<br /> 
                        organisers Influensakoll<br /> 
                        influensakoll [at] smi.se<br /><br /> 
                        <strong>Austria, Germany and Switzerland</strong><br /> 
                        Project leader: Markus Schwehm<br /> 
                        organisers Aktiv gegen Grippe<br /> 
                        markus.schwehm [at] explosys.de<br /><br /> 
                        </p> 
{% endblock %}
