{% extends "survey/base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.5.custom.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}survey/style.css"/>
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.5.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}survey/survey.js"></script>
{% endblock %}

{% block content %}
<div id="survey">

<h1>{{ title }}</h1>

{% include "survey/form.html" %}

</div>
{% endblock %}
