{% load i18n %}
<div class="blockheader">{% trans "Latest news" %}</div>

<div id="newsfront">


{% for news in latest %}
<div 
onmouseover="this.className='blockitem active'" 
onmouseout="this.className='blockitem'" 
onclick="document.location='{{ base_path }}/{{ news.get_relative_url }}'" 
class="blockitem">
	<div class="blockitemtitle">
	<a href="{{ base_path }}/{{ news.get_relative_url }}">{{ news.title }}</a></div>

	{% if news.excerpt %}
		{{ news.excerpt }}
	{% endif %}


<div class="clearer">
	</div>
</div>




{% empty %}
	{% trans "No news yet" %}
{% endfor %}


</div>



